@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0%;
    margin: 0%;
    
}
body { 
    box-sizing:border-box;
    background-color: #D8DFE8;
     

}

.tituloPagina {
    font-family: "Krona One", sans-serif;
    color: #0A3871;
    padding: 1rem; 
    margin: 0% 10%;
}

.encriptador {
    display: flex;
    padding: 1% 19%;
    justify-content: space-around;   
    gap:5%;
    }


.procesoInicial { 
    display: flex;
    flex-direction: column;
    width: 32rem ;
    height: 70vh;
    
}

.contenedorTextarea{
    width: 90%;
    height:50%;
    padding: 5%}

.cuadroIngresoTexto {
    text-align: justify;
    width: 90%;
     height: 100%;
    font-family: "Krona One", sans-serif;
    color: #0A3871;
    font-size: 0.8rem;
    background-color: #D8DFE8;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    
 }


.avisoRestriccion { 
    display: flex;
    color: #495057;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    font-size: 0.8rem; 
    width: 100%;
    height: 10%; 
    
}

#errorMsg {
    font-weight: bold;
}
.grupoDeBotones {
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center ; 
    width: 90% ;
    height: 40%;   
}

.botonEnc-desc {
    padding: 10px;
    border-radius: 16px;
    font-size: 70%;
    font-family: "Montserrat", sans-serif;
    color: #0A3871;
    border: 1px  #0A3871 solid;
    background-color: #bbcde6 ;
    font-weight: 600;
    width: 40%;
    margin: 0% auto;
    cursor: pointer;
} 
.botonEnc-desc:hover{

    background-color: #0A3871;
    padding: 3%;
    color: #bbcde6;
}

.contenedorResultado{
    display: flex;
    flex-direction: column;
    border: 2px solid #FFFFFF;
    border-radius: 4%;
    padding: 5%;
    width: 24rem;
    height: 65vh;
    background-color: #FFFFFF;    
    align-self: center;
    
}

.contenedorImagen{
    width: 100%;
    height: auto;
    display: flex;
   align-items: center;
   
    

}
.imagenBusqueda{
    background-color: #FFFFFF;
    border: none;
    max-width: 200px;
    margin: 20% auto;
    
}
.contenedorMensajeDeAviso{
    width: 100%;
    height: auto;

}

.mensajeDeAviso {
    font-family: "Krona One", sans-serif; 
    font-size: 0.7rem;
    text-align: center;
    align-content:end;
}  

.contenedorDeResultado{
    height: 30%;
} 


.resultadoDeorden {
    background-color: #FFFFFF;
    width: 100%;
    font-family: "Krona One", sans-serif; 
    text-align: center; 
    border: none;
    outline: none;
    font-size: 0.7rem;
    resize:none;
    height:100%;
    overflow: hidden;
    flex-grow: 1;
}  
.contenedorBotonCopiar{
    gap: 10%;
  display: flex;
    width: 100% ;
    height: 10vh;   
    align-items: center;
} 

.botonCopiar {
    text-align: center;
    padding: 10px  ;
    width: 40%;
    border-radius: 16px;
    font-size: 0.8rem;
    font-family: "Montserrat", sans-serif;
    color: #0A3871;
    border: 1px  #0A3871 solid;
    background-color: #bbcde6 ;
    font-weight: 600;
    margin: 0% auto;
    cursor: pointer;
    
}  

.botonCopiar:hover{

    background-color: #0A3871;
    padding: 3%;
    color: #bbcde6;
}

.footer{
   font-family:  "Montserrat", sans-serif;
    font-size: 0.8rem;
    text-align: center;
    padding:2% ;
   
}

@media (max-width: 800px) {
    


    .header {
        padding: 5% ;
        width: 0% auto;
     }


     .encriptador { 
    flex-direction: column;

     }

     .tituloPagina {
        padding: 0.5rem; 
        margin: 0% auto;
       text-align: center;
    }
 
     .procesoInicial { 

            flex-direction: column;
            width: 28rem ;
            height: 50vh;
            align-self: center;
            gap: 2%;
        }


     .grupoDeBotones {
        display: flex;   
        align-items: center; 
        width: auto ;
        height: 20%;  

    }
    .contenedorResultado{
        flex-direction: column;
      
        
        padding: 0%;
        width: 28rem;
        height: auto;
        margin: 3%;

   
    } 

    .imagenBusqueda{
        margin: 5% auto;
        
    }

    .footer{
         font-size: 0.5rem;
         text-align: center;
         padding:2% ;
         width: 0% auto;
         height: 0vh;
       
        
    }

}

@media (max-width: 450px) {
  
    
    .procesoInicial { 
       padding: 3%;
        width: 24rem ;
        height: 55vh;
       
        
    }
     .encriptador { 
        padding: 2%;

}

    .grupoDeBotones {
        display: flex;  
        flex-direction: column; 
       
    }
    .contenedorResultado{ 
        width: 24rem;
        padding: 3%;
        
   
    } 
    .imagenBusqueda{
        margin: 0% auto;
        
    }

}